/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
MAIN COLOR: #087f5b
GREY COLOR: #343a40
 */
/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */

.container {
  width: 1060px;
  margin: 0 auto;

  font-family: "Inter", sans-serif;
  color: #343a40;
  text-align: center;
}

.header,
.section {
  margin-bottom: 48px;
}

.grid4Rows {
  display: grid;
  grid-template-columns: 360px 1fr;
  grid-template-rows: repeat(4, 1fr);
  column-gap: 70px;
  row-gap: 35px;
}

.btn:link,
.btn:visited {
  font-size: 14px;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;

  display: inline-block;
  border-radius: 12px;
  justify-content: center;
    --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
  grid-column: 7 / 10;
}

.btn:hover,
.btn:active {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.05);
    --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.img {
  border-radius: 12px;
  width: 100%;
}
/* ------------------------ */
/* COMPONENT STYLES */
/* ------------------------ */

/* HEADER */
.header {
  display: grid;
}

.headerTextBox {
  align-self: center;
}

.title {
  margin-top: 24px;
  margin-bottom: 48px;
  font-size: 60px;
  line-height: 1.1;
  letter-spacing: -1px;
  text-shadow: 0 20px 5px rgba(0, 0, 0, 0.1);
}

.headerText {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.7;
}

/* FEATURES */
.quesIcon {
  stroke: #868e96;
  height: 24px;
  width: 24px;
  vertical-align: middle;
  /* margin-right: 10px; */
}

.statIcon {
  stroke: #868e96;
  height: 160px;
  width: 160px;
  display: block;
  margin-left: 24px;
  margin-bottom: 60px;
  margin-top: 30px;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2/3;
  grid-row: 1/4;
}

/* OPTION */
.option {
  /* border-radius: 12px; */
  /* box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1); */
  grid-column: 1/2;
}

.uploadGgrid{
  width: 70%;
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
  /* column-gap: 10px; */
  background-color: #e9ecef;
  border-radius: 20px;
  /* justify-content: center; */
  margin-top: 10px;
  /* align-items: center; */
  margin-right: auto;
  margin-left: auto;
  padding: 20px 20px;
  /* gap: 4px; */
  /* grid-auto-flow: column;  */
  display: grid;
  justify-content: center;
  align-content: center;

  gap: 30px;
  grid-auto-flow: column;
}
.uploadBtn{
  font-size: 14px;
  padding: 16px 32px;
  background-color: #087f5b;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  inline-size: 224px;
  border-radius: 100px;
  justify-content: center;
}

.downloadTemBox {
   width: 70%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: #e9ecef;
  border-radius: 20px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  /* padding: 20px 20px; */
  display: grid;
  justify-content: center;
  align-content: center;
  column-gap: 20px;
  grid-auto-flow: column;
  justify-content: center;
  margin-bottom: 30px;
}

.stepPara {
  font-size: 28px;
  grid-row: 1 / 3;
  grid-column: 2 / 7;
  padding: auto;
  text-align: left;
  display: grid;        
  align-items: center;     
  justify-items: center;   
}

.stepParaWraper {
  font-size: 28px;
  grid-row: 1 / 3;
  grid-column: 2 / 7;
  padding: auto;
  text-align: left;
  display: grid;        
  align-items: center;     
  justify-items: center;   
}

/* .stepPara2 {
  font-size: 28px;
  grid-row: 1 / 3;
  grid-column: 2 / 10;
  padding: auto;
  text-align: left;
  display: grid;        
  align-items: center;     
  justify-items: center;   
} */

.stepParaWraper2 {
  font-size: 28px;
  grid-row: 1 / 3;
  grid-column: 2 / 10;
  padding: auto;
  text-align: left;
  display: grid;        
  align-items: center;     
  justify-items: center;   
  padding-right: 20px;
}

.step {
  font-size: 34px;
  font-weight: bold;
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  padding: auto;
  text-align: center;
  display: grid;        
  align-items: center;     
  justify-items: center;   
  background-color: rgb(76, 79, 84);
  color: rgb(209 213 219);
  border-radius: 20px 0px 0px 20px;
  padding: 20px;
}

.btnDown:link,
.btnDown:visited {
  font-size: 14px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  border-radius: 12px;
  justify-content: center;
    --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
  grid-column: 7 / 10;
  height: fit-content;
  align-self: center;
  width: 80%;
}

.btnDown:hover,
.btnDown:active {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.05);
    --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.btnGetRes:link,
.btnGetRes:visited {
  font-size: 14px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  border-radius: 12px;
  justify-content: center;
    --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
  grid-column: 7 / 10;
  grid-row: 1 / 3;
  height: fit-content;
  align-self: center;
  width: 80%;
}

.btnGetRes:hover,
.btnGetRes:active {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.05);
    --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.fileUp {
  grid-row: 1 / 3;
  grid-column: 7 / 10;
    align-self: center;

}