/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
MAIN COLOR: #087f5b
GREY COLOR: #343a40
BACKGROUND-COLOR: #63e6be
 */
/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */

.container {
  width: 1060px;
  margin: 0 auto;
  /*original properties: body*/
  font-family: "Inter", sans-serif;
  color: #343a40;
  text-align: center;
}

.header,
.section {
  margin-bottom: 48px;
}

.textVideo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 70px;
  justify-items: center;
  align-items: center;
}

.btn:link,
.btn:visited {
  font-size: 14px;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;

  display: inline-block;
  border-radius: 12px;
  justify-content: center;
    --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}

.btn:hover,
.btn:active {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.05);
    --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

/* ------------------------ */
/* COMPONENT STYLES */
/* ------------------------ */

/* HEADER */
.header {
  display: grid;
}

.headerTextBox {
  align-self: center;
}

.title {
  margin-top: 24px;
  margin-bottom: 48px;
  font-size: 60px;
  line-height: 1.1;
  letter-spacing: -1px;
  text-shadow: 0 20px 5px rgba(0, 0, 0, 0.1);
}

.headerText {
  font-size: 20px;
  line-height: 1.7;
  text-align: left;
  /* grid-column: 1 / 2;
  grid-row: 1; */
}

.video {
  /* grid-column: 2 / 3;
  grid-row: 1; */
  width: 500px; 
  height: 300px;
  box-shadow: 0 20px 30px 20px rgb(0 0 0 / 10%);
}

.researchPaper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e9ecef;
  padding: 12px 24px;
  column-gap: 36px;
  justify-items: center;
  align-items: center;
  margin: 24px auto;
}

.aboutResearchPaper{
  
}

.inputBox{
  /* display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e9ecef;
  padding: 12px 24px;
  column-gap: 36px;
  justify-items: center;
  align-items: center;
  margin: 24px auto; */
  width: 10px;
}

/* footer {
  margin-top: 48px;
  margin-bottom: 4px;
  font-size: 14px;
  color: #495057;
} */
